body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #003366;
  color: #fff;
  padding: 20px 0;
}

.logo {
  width: 150px;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.main-content {
  background-color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

.main-content h1 {
  color: #003366;
}

.main-content p {
  color: #666;
}

footer {
  background-color: #003366;
  color: #fff;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}